* {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  padding: 15px;
  font-family: "Inter", sans-serif;
}

.page-wrapper {
  max-width: 390px;
  margin: auto;
  border-radius: 12px;
  box-shadow: 8px 4px 35px 1px rgba(96, 85, 141, 0.25);
  background: #efefef;
}
.header {
  padding-bottom: 145px;
  background: url("../img/header-bg.png") no-repeat center / cover, #efefef;
  border-radius: 0 0 85px 85px;
  width: 390px;
  height: 257px;
}
