* {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  padding: 15px;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.page-wrapper {
  overflow: hidden;
  max-width: 390px;
  margin: auto;
  border-radius: 12px;
  box-shadow: 8px 4px 35px 1px rgba(96, 85, 141, 0.25);
  background: #efefef;
}

.header {
  padding-bottom: 145px;
  background: url("../img/header-bg.png") no-repeat center / cover, #efefef;
  border-radius: 0 0 85px 85px;
  width: 390px;
  height: 257px;
}

.container {
  max-width: 290px;
  margin: auto;
}

.title-wrapper {
  margin-top: -50px;
  margin-bottom: 9px;
  height: 105px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 7px 4px 13px -3px rgba(0, 0, 0, 0.25);
  background: #c5e8d9;
}

.title-img {
  margin-top: -28px;
  align-items: flex-start;
  border-radius: 50%;
  object-fit: cover;
  border: 7px solid #c5e8d9;
  background-color: white;
}

.title {
  margin-top: -10px;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #14682a;
}

.title-name {
  margin-top: 2px;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 20px;
  line-height: 121%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #14682a;
}

.address {
  margin-top: 1px;
  font-weight: 200;
  font-size: 16px;
  line-height: 121%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #14682a;
}

.card {
  border-radius: 8px;
  box-shadow: 7px 4px 13px -3px rgba(0, 0, 0, 0.25);
  background: #c5e8d9;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 10px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  max-width: 241px;
  margin: auto;
  gap: 33px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #14682a;
  box-shadow: 5px 4px 4px 0 rgba(57, 94, 49, 0.25);
  height: 51px;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 15px;
}

.button.phone {
  background: #0ab20a;
}

.button.tg {
  background: #27a7e7;
}

.button.vk,
.button.map {
  max-width: 241px;
  margin: auto;
  margin-bottom: 15px;
  background: #27a7e7;
}

.btn-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 121%;
  letter-spacing: 0.01em;
  color: #fff;
}
